<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">Edit Discount</h3>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Forms</a></li>
				<li class="breadcrumb-item active" aria-current="page">Form elements</li>
			</ol>
		</nav>
	</div>
	<div class="row">
		<div class="col-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
                    <ng-container *ngIf="editDisFomrm!=null">
                        <form [formGroup]="editDisFomrm" (ngSubmit)="update()">
                            <label for="exampleInputName1">Content</label>
                            <div class="form-group">
                                <input type="text" pInputText formControlName="content"  style="width:100%; color: #404244; font-family: Poppins;" placeholder="Content" />
                            </div>
                            <label for="exampleInputName1">Price</label>
                            <div class="form-group">
                                <input type="text" pInputText formControlName="price"  style="width:100%; color: #404244; font-family: Poppins;" placeholder="Content" />
                            </div>
                            <div class="col-md-6">
                                <label for="col-sm-3 col-form-label">Status</label>
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <p-checkbox [binary]="true" formControlName="status" inputId="binary"></p-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="col-sm-3 col-form-label">DateEnd</label>
                                    <div class="form-group row">
                                        <div class="col-sm-9">
                                            <p-calendar [showIcon]="true" formControlName="dateEnd"></p-calendar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Edit" class="btn btn-warning">
                        </form>
                    </ng-container>
				</div>
			</div>
		</div>
	</div>
</div>
